@{
    ViewBag.Title = "AD_ShowAllNhaXuatBan";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

@model IEnumerable<DoAn_MonHoc.Models.NHAXUATBAN>

<h2 style="text-align: center;
    text-transform: uppercase;
    color: brown;">
    Quản lý nhà xuất bản
</h2>
<p style=" text-transform: uppercase; ">
    <a href="/Admin/Home/InsertNhaXuatBan" style="color: brown;">Thêm nhà xuất bản</a>
</p>
<table class="table" id="example" style="width:100%;color: brown;">
    <thead>
        <tr>
            <th>
                Mã
            </th>
            <th>
                Nhà Xuất Bản
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                Điện Thoại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaNXB">
                <td>
                    @Html.DisplayFor(modelItem => item.MaNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.ActionLink("Xem", "UpdateNhaXuatBan", new { id = item.MaNXB }) |
                    @Ajax.ActionLink("Xóa", "DeleteNhaXuatBan", new { id = item.MaNXB }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa nhà xuất bản này không?",
                   OnComplete = "$('#row_" + @item.MaNXB + "').remove()",
                   HttpMethod = "Delete"
               })
                </td>
            </tr>
        }
    </tbody>
</table>
