@{
    ViewBag.Title = "AD_ShowAllPhieuNhapHang";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

@model IEnumerable<DoAn_MonHoc.Models.PHIEUNHAPHANG>

<h2 style="text-align: center;
    text-transform: uppercase;
    color: brown;">
    Quản lý Đơn Nhập Hàng
</h2>

<p style=" text-transform: uppercase; ">
    <a href="/Admin/Home/InsertDonNhapHang" style="color: brown;">Thêm phiếu nhập hàng</a>
</p>
<table class="table" id="example" style="width:100%;color: brown;">
    <thead>
        <tr>
            <th>
                MaPNH
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NHACUNGCAP.MaNCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NHANVIEN.MaNV)
            </th>
            <th>
                Ngày Lập HD
            </th>
            <th>
                Tổng SL
            </th>
            <th>
                Tổng Tiền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.MaPhieuNhapHang.Trim()">
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieuNhapHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHACUNGCAP.MaNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHANVIEN.MaNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap_PN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongSL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien_NH)
                </td>
                <td>
                    @Html.ActionLink("Xem", "DetailsCT_PhieuNhapHang", new { id = item.MaPhieuNhapHang.Trim() })
                </td>
            </tr>}
    </tbody>

</table>
