@{
    ViewBag.Title = "InsertBook";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

@model DoAn_MonHoc.Models.THONGTINSACH
<h2 style="text-align: center;
    text-transform:uppercase;color: brown;">
    Thêm sách
</h2>
<p style=" text-transform: uppercase; ">
    <a href="/Admin/Home/InsertLoaiSach" style="color: brown;">Thêm thể loại</a> |
    <a href="/Admin/Home/InsertTacGia" style="color: brown;">Thêm tac Gia</a> |
    <a href="/Admin/Home/InsertNhaXuatBan" style="color: brown;">Thêm nhà xuất bản</a>
</p>


@using (Html.BeginForm("InsertBook", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="color: brown;">
        <hr />
        @if (ViewBag.Success != null)
        {
            <div id="thongBaoThanhCong" class="alert alert-success">@ViewBag.Success</div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.TenSach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TenSach, new { @class = "form-control", placeHolder = "" })
                @Html.ValidationMessageFor(model => model.TenSach, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Loại</label>
            <div class="col-md-10">
                @Html.DropDownList("MaLoai", null, "Chọn thể loại", new { @class = "form-control", style = "height: 35px" })
                @Html.ValidationMessageFor(model => model.MaLoai, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nhà xuất bản</label>
            <div class="col-md-10">
                @Html.DropDownList("MaNXB", null, "Chọn nhà xuất bản", new { @class = "form-control", style = "height: 35px" })
                @Html.ValidationMessageFor(model => model.MaNXB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tác giả</label>
            <div class="col-md-10">
                @Html.DropDownList("MaTG", null, "Chọn tác giả", new { @class = "form-control", style = "height: 35px" })
                @Html.ValidationMessageFor(model => model.MaTG, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GiaSach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GiaSach, new { @class = "form-control", placeHolder = "" })
                @Html.ValidationMessageFor(model => model.GiaSach, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GiamGia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GiamGia, new { @class = "form-control", placeHolder = "" })
                @Html.ValidationMessageFor(model => model.GiamGia, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", @rows = "7" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" /> Chọn ảnh bìa
                @ViewBag.Alert
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SLTon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SLTon, new { @class = "form-control", placeHolder = "" })
                @Html.ValidationMessageFor(model => model.SLTon, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn" style="background-color:#007f85;color: white;" />
            </div>
        </div>
    </div>
}
<div style="text-transform: uppercase;
    font-weight: bold;">
    <a href="/Admin/Home/AD_ShowAllBook" style="color:#007f85;font-size:15px">Trở về</a>
</div>


