@model IEnumerable<DoAn_MonHoc.Models.THONGTINSACH>

<style>
    .btn-light
    {
    color: #898989;
    }
    .btn-light:hover{
        background-color:#0099ae;
        color:white;
    }
</style>
<link href="~/Css/StyleSheet5.css" rel="stylesheet" />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="product-box product-item-main product-item-compare" style="width: 100%; float: left;  margin-bottom: 30px;
    text-align: center;
    position: relative;">
                <div class="product-thumbnail">
                    <div class="content_hover">
                        <a class="image_thumb p_img" title="@item.TenSach" href="/Book/ChiTietSach/@item.MaSach">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="~/HinhAnhSach/@item.HinhAnh" alt="@item.HinhAnh" width="180px" height="242px" />
                            <a title="Xem nhanh" href="~/Book/ChiTietSach/@item.MaSach" data-handle="tren-duong-bang" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                <i class="fa fa-eye"></i>
                            </a>
                            </a>
                    </div>
                </div>
                <div class="product-info product-bottom mh">
                    <h3 class="product-name" style="font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif;font-size: 14px;font-weight: 600; margin: 0 0 5px; overflow: hidden; text-transform: uppercase;   word-wrap: break-word;  line-height: 22px;padding: 10px 30px 0; text-overflow: ellipsis; white-space: nowrap;">
                        <a title="@item.TenSach" href="/Book/ChiTietSach/@item.MaSach" style=" color: #636363; text-decoration: none;">@(item.TenSach.Length > 26 ? item.TenSach.Substring(0, 22) + "..." : item.TenSach)</a>
                    </h3>
                </div>
                <div class="section">
                    <div class="blockprice" style="min-height: 30px; width: 100%; float: left; }">
                        <div class="product-item-price price-box" style="float:left; width: 100%; text-align:center;">
                                @if (@item.GiamGia <= 0)
                                {
                                    <span class="product-item-price-sale old-price">
                                        <span class="compare-price price product-price-old" style="font-size: 20px; font-weight: 700; font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif; color: #f26522; font-weight: 600; line-height: 20px; ">
                                            @item.GiaSach.Value.ToString("N0") VND
                                        </span>
                                    </span>
                                }
                                else
                                {
                                    
                                    @Html.Action("giasachgiam", "Book", new { @masach=@item.MaSach})
                                    <span class="product-item-price-sale old-price">
                                        <span class="compare-price price product-price-old" style="color: #636363; text-decoration: line-through;">
                                            @item.GiaSach.Value.ToString("N0") VND
                                        </span>
                                    </span>
                                }

                        </div>
                    </div>
                </div>
                <div class="product-action clearfix" style="text-align: center; height: 40px; width: 100%; float: left; z-index: 10;">
                    <form action="/cart/add" method="post" class="variants form-nut-grid" data-id="product-actions-1272032" enctype="multipart/form-data">
                        <div class="group_action" style="text-align: center; width: 100%; display: flex;  justify-content:center">

                            <input type="hidden" name="variantId" value="1953228">
                         
                            <a class="btn btn-light" href="/Cart/ThemGioHang/?id=@item.MaSach&soluong=1" style="border: 2px solid #e1e1e1; font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif;  font-size: 13px; font-weight: 400; text-decoration: none;  display: inline-block; padding: 8px 20px 8px 20px;">

                                <i class="fas fa-shopping-cart"></i> Thêm vào giỏ
                            </a>
              

                        </div>
                    </form>

                </div>
            </div>
        </div>
    }
</div>