@model DoAn_MonHoc.Models.KHACHHANG


<ul class="nav justify-content-end">
    @if (Session["User"] == null)
    {
        <li class="nav-item">
            <a class="nav-link" href="/User/DangKy" style="padding: 7px 12px;text-transform: uppercase"><i class="fas fa-sign-in-alt"></i>Đăng ký</a>
        </li>
       <li class="nav-item">
           <a href="#" class="nav-link dropdown-toggle" style="padding: 7px 12px;text-transform: uppercase" data-toggle="dropdown"> Đăng nhập <b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 15px;min-width: 250px">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("PageDangNhap", "User", FormMethod.Post))
                                {
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.TenDN, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Tên đăng nhập" })
                                        @Html.ValidationMessageFor(model => model.TenDN, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(model => model.MatKhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Ghi nhớ?
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button style="background-color:#0094ff" type="submit" class="btn btn-success btn-block">Đăng nhập</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Login" style="padding: 7px 12px;text-transform: uppercase"><i class="fas fa-user-secret"></i>Admin</a>
    </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="~/User/DangXuat" style="padding: 7px 12px;text-transform: uppercase"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Đăng Xuất</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/User/ThongTinUser" style="padding: 7px 12px;text-transform: uppercase"><i class="fa fa-smile-o"></i>Hồ Sơ</a>
        </li>
        <li class="nav-item">
            <a class=" nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px 12px;text-transform: uppercase">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                Tài Khoản : @Session["User"] 
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="~/User/ThongTinUser" style="color:black"><i class="fa fa-smile-o" style="margin-right: 5px;" aria-hidden="true"></i> Hồ sơ</a>
                </li>
                <li>
                    <a href="~/Cart/DonHang_KH" style="color:black"><i class="fa fa-archive"></i> Đơn Hàng</a>
                </li>
                <li>
                    <a href="~/User/DangXuat" style="color:black"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Đăng xuất</a>
                </li>
            </ul>
        </li>
    }
</ul>
